a.ribbon
{
position: fixed;
right: 0;
top: 0;
z-index: 100;
}

div#click-to-loan
{
height: 400px !important;
padding: 0;
position: relative;
width: 600px !important;
}

div#click-to-loan > img
{
position: absolute;
z-index: 1;
}

div#click-to-loan > p
{
color: rgb(214,17,38);
font: 24px/normal RobotoMedium;
margin: 0 20px 0 20px;
padding: 14px 0 0 0;
position: relative;
z-index: 2;
}

div#click-to-loan div.form.modal-form
{
bottom: 0;
margin: 0 40px 20px 40px;
position: absolute;
z-index: 2;
}

div#click-to-loan div.form.modal-form form
{
background: rgba(255,255,255,0.8);
border-radius: 10px;
box-shadow: 0 0 20px rgba(0,0,0,0.2);
overflow: hidden;
padding: 25px 30px 30px 30px;
}

div#click-to-loan fieldset
{
float: left;
}

div#click-to-loan fieldset p
{
margin-bottom: 8px;
}

div#click-to-loan fieldset.submit
{
float: right;
padding: 31px 0 0 0;
}

div#click-to-loan div.form.modal-form fieldset:not(.approval) label
{
color: rgb(0,0,0);
font: 20px RobotoLight;
padding-bottom: 4px;
}

div#click-to-loan div.form.modal-form input[type='text']
{
box-shadow: none;
-moz-box-sizing: border-box;
box-sizing: border-box;
font: 24px/normal RobotoMedium;
padding-bottom: 2px;
padding-top: 4px;
width: 310px;
}

div#click-to-loan button[type='submit']
{
border-radius: 5px;
box-shadow: none;
font: 18px/40px RobotoLight;
padding: 0 30px 0 30px;
}

div#click-to-loan p.message
{
font: 14px/normal RobotoRegular;
margin-bottom: 10px;
}

div#click-to-loan fieldset.approval p
{
font: 13px/normal RobotoLight;
margin: 5px 0 0 0;
}

div#click-to-loan fieldset.approval span.ui-checkbox
{
background: url('../img/ribbon/checkbox.png') no-repeat 0 0;
cursor: pointer;
float: left;
height: 16px;
margin: 0 5px 0 0;
overflow: hidden;
position: relative;
top: 2px;
width: 16px;
}

div#click-to-loan fieldset.approval span.ui-checkbox-checked, div#click-to-loan fieldset.approval span.ui-checkbox-checked-hover
{
background: url('../img/ribbon/checkbox.png') no-repeat -16px 0;
}

div#click-to-loan fieldset.approval label
{
font: 13px RobotoLight;
padding-bottom: 0;
padding-top: 3px;
}

div#click-to-loan fieldset.approval a
{
color: rgb(0,0,0);
}

div#click-to-loan fieldset.approval span.more
{
float: right;
margin: 0 0 0 5px;
}