/* WWW.???.CZ, MEDIA SCREEN */


@font-face
{
font-family: RobotoRegular;
src: url('../../fonts/roboto-regular-webfont.eot');
src: url('../../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/roboto-regular-webfont.woff') format('woff'), url('../../fonts/roboto-regular-webfont.ttf') format('truetype'), url('../../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face
{
font-family: RobotoMedium;
src: url('../../fonts/roboto-medium-webfont.eot');
src: url('../../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/roboto-medium-webfont.woff') format('woff'), url('../../fonts/roboto-medium-webfont.ttf') format('truetype'), url('../../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face
{
font-family: RobotoBold;
src: url('../../fonts/roboto-bold-webfont.eot');
src: url('../../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/roboto-bold-webfont.woff') format('woff'), url('../../fonts/roboto-bold-webfont.ttf') format('truetype'), url('../../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face
{
font-family: RobotoLight;
src: url('../../fonts/roboto-light-webfont.eot');
src: url('../../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/roboto-light-webfont.woff') format('woff'), url('../../fonts/roboto-light-webfont.ttf') format('truetype'), url('../../fonts/roboto-light-webfont.svg#robotolight') format('svg');
font-weight: normal;
font-style: normal;
}


audio:not([controls])
{
display: none;
}

::selection, ::-moz-selection
{
background: rgb(196,38,46);
color: rgb(255,255,255);
text-shadow: none;
}

html
{
background: rgb(255,255,255);
font-size: 100%;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
}

body
{
color: rgb(51,51,51);
font: normal normal normal 1em/normal sans-serif;
margin: 0;
padding: 0;
}

a img
{
border: none;
}

a:focus
{
outline: thin dotted;
}

abbr
{
cursor: help;
}

blockquote, q
{
quotes: none;
}

dl, form, h1, h2, h3, h4, h5, h6, ol, p, ul
{
margin: 0;
padding: 0;
}

form label
{
cursor: pointer;
}

form button, form input[type='button'], form input[type='submit'], form input[type='reset']
{
cursor: pointer;
margin: 0;
padding: 0;
-webkit-appearance: button;
}

form button[disabled], form input[disabled]
{
cursor: default;
}

form button::-moz-focus-inner, form input::-moz-focus-inner
{
border: 0;
padding: 0;
}

form input[type='text'], form input[type='password'], form select
{
margin: 0;
}

form textarea
{
margin: 0;
resize: none;
vertical-align: top;
}

hr
{
border: none;
margin: 0;
}

img
{
display: inline-block;
}

ol li
{
list-style-type: decimal;
}

ul li
{
list-style-type: square;
}

pre
{
white-space: pre-wrap;
}

table
{
margin: 0;
}

div.wrapper
{
clear: both;
}

span.ico
{
overflow: hidden !important;
position: absolute;
}

a span.ico
{
cursor: pointer;
}


/* STRANKA */


div.nav-skip
{
left: -10000px;
position: absolute;
}



/* HLAVICKA: logo, slider, hlavni menu, vyhledavaci formular */


header
{
background: rgb(214,17,38);
position: relative;
min-width: 60em;
width: 100%;
}

header > div.container
{
margin: 0 auto 0 auto;
width: 60em;
}


/* logo */


header div.logo
{
position: absolute;
text-align: right;
width: 100%;
z-index: 2;
}

header div.logo h1, header div.logo p
{
margin: 18px auto 0 auto;
padding: 0 42px 0 0;
width: 918px;
}


/* slider */


header div.main
{
background: rgb(255,255,255);
margin: 0 auto 0 auto;
min-height: 350px;
min-width: 960px;
}

header div.main div.item
{
height: 350px;
position: relative;
}

header div.main div.figure
{
height: 350px;
overflow: hidden;
position: relative;
text-align: center;
}

header div.main div.figure:after
{
background: url('../../img/a2/main-figure-after.png') repeat-y left top;
content: '';
height: 350px;
position: absolute;
right: 0;
top: 0;
width: 45%;
}

header div.main div.data
{
height: 350px;
margin: -350px auto 0 auto;
position: relative;
width: 960px;
z-index: 2;
}

header div.main div.data div
{
bottom: 0;
max-height: 220px;
overflow: hidden;
padding: 0 30px 25px 0;
position: absolute;
right: 0;
width: 230px;
}

header div.main div.data p
{
font: 1em/22px RobotoLight;
}

header div.main div.data p:first-child
{
color: rgb(214,17,38);
font: 1.7em/33px RobotoMedium;
margin-bottom: 14px;
}

header div.main div.data p:first-child a
{
color: rgb(214,17,38);
}

header div.main div.bx-wrapper
{
position: relative;
}

header div.main div.bx-controls
{
margin: 0 auto 0 auto;
position: relative;
width: 960px;
}

header div.main div.bx-controls a
{
display: block;
height: 50px;
position: absolute;
top: -200px;
}

header div.main div.bx-controls a.bx-prev
{
left: 0;
width: 33px;
}

header div.main div.bx-controls a.bx-prev
{
background: url('../../img/a2/brand-icons-h.png') -152px center no-repeat;
}

header div.main div.bx-controls a.bx-prev:hover
{
background: url('../../img/a2/brand-icons-h.png') -184px center no-repeat;
}

header div.main div.bx-controls a.bx-next
{
right: 0;
width: 32px;
}

header div.main div.bx-controls a.bx-next
{
background: url('../../img/a2/brand-icons-h.png') -217px center no-repeat;
}

header div.main div.bx-controls a.bx-next:hover
{
background: url('../../img/a2/brand-icons-h.png') -249px center no-repeat;
}

header div.main.no-slider div.items div.item:not(:first-child)
{
display: none;
}


/* hlavni menu */


header nav.mainmenu
{
float: left;
margin: 15px 0 0 0;
}

header nav.mainmenu .menu_toggle
{
display: none;
}

header nav.mainmenu li
{
float: left;
font: 0.875em/normal RobotoRegular;
list-style: none;
margin: 0 6px 0 0;
text-transform: uppercase;
}

header nav.mainmenu li:last-child
{
margin-right: 0;
}

header nav.mainmenu a
{
border: 1px solid rgba(255,255,255,0.4);
border-radius: 10px;
color: rgb(255,255,255);
display: block;
margin: 0 0 15px 0;
padding: 4px 0.625rem 5px 0.625rem;
text-decoration: none;
}

header nav.mainmenu a:hover, header nav.mainmenu a.active, header nav.mainmenu li.has-subitems:hover > a
{
border: 1px solid rgb(214,17,38);
}

header nav.mainmenu li.has-subitems ul
{
border: 10px solid rgba(255,255,255,0);
display: none;
margin: 0 0 0 -10px;
position: absolute;
width: 12.5rem;
z-index: 2;
}

header nav.mainmenu li.has-subitems li
{
background: rgb(214,17,38);
border-bottom: 1px solid rgb(230,112,125);
float: none;
font: 1em/normal RobotoRegular;
margin-right: 0;
text-transform: none;
}

header nav.mainmenu li.has-subitems li:first-child
{
border-radius: 10px 10px 0 0;
}

header nav.mainmenu li.has-subitems li:last-child
{
border-bottom: none;
border-radius: 0 0 10px 10px;
}

header nav.mainmenu li.has-subitems li a
{
border: none;
display: block;
margin-bottom: 0;
padding: 5px 0.625rem 6px 0.625rem;
}

header nav.mainmenu li.has-subitems li a:hover
{
font: 1em/normal RobotoMedium;
}

header nav.mainmenu li.has-subitems:hover ul, header nav.mainmenu li.has-subitems:focus ul
{
display: block;
}



/* vyhledavaci formular */


header div.searchform
{
float: right;
margin: 15px 0 15px 0;
}

header div.searchform fieldset
{
background: rgb(255,255,255);
border: none;
border-radius: 10px;
padding: 4px 10px 5px 10px;
}

header div.searchform input[type='text']
{
background: none;
border: none;
color: rgb(51,51,51);
font: 0.875em/normal RobotoLight;
padding: 0;
width: 11em;
}

header div.searchform button[type='submit']
{
background: rgb(255,255,255);
border: none;
color: rgb(51,51,51);
font: 0.65em/18px Tahoma, 'Lucida Grande CE', lucida, sans-serif;
height: 18px;
position: relative;
text-align: center;
width: 17px;
}

header div.searchform button[type='submit'] span.ico
{
background: url('../../img/a2/brand-icons-h.png') -118px center no-repeat;
height: 18px;
left: 0;
top: 0;
width: 17px;
}

header div.searchform button[type='submit']:hover span.ico
{
background: url('../../img/a2/brand-icons-h.png') -135px center no-repeat;
}


/* OBSAH */


div.content address
{
font: 0.8125em/17px sans-serif;
margin: 0 0 6px 0;
}

div.content blockquote
{
border: 1px solid rgb(204,204,204);
border-radius: 10px;
font: 0.875em/20px RobotoLight, sans-serif;
margin: 15px 25px 21px 25px;
padding: 8px 15px 11px 15px;
}

div.content blockquote:before
{
content: '\201E';
}

div.content blockquote:after
{
content: '\201C';
}

div.content h1
{
color: rgb(214,17,38);
font: 1.375em/normal RobotoMedium, sans-serif;
margin: 0 0 4px 0;
}

div.content h2
{
font: 1em/normal RobotoMedium, sans-serif;
margin: 12px 0 4px 0;
}

div.content h3
{
font: 0.9375em/normal RobotoMedium, sans-serif;
margin: 0 0 5px 0;
}

div.content h4
{
font: 0.875em/normal RobotoMedium, sans-serif;
margin: 0 0 3px 0;
}

div.content h5
{
font: 0.8125em/normal RobotoMedium, sans-serif;
margin: 0 0 2px 0;
}

div.content h6
{
font: 0.8125em/normal RobotoRegular, sans-serif;
margin: 0 0 2px 0;
}

div.content hr
{
}

div.content p
{
font: 0.8125em/17px sans-serif;
margin: 0 0 6px 0;
}

div.content pre
{
font: 0.8125em/17px monospace;
margin: 0 0 6px 0;
}

div.content abbr
{
font: 1em sans-serif;
}

div.content b, div.content strong
{
font: bold 1em sans-serif;
}

div.content cite, div.content q
{
font: italic 1em sans-serif;
}

div.content code
{
font: 1em monospace;
}

div.content del
{
font: 1em sans-serif;
}

div.content dfn
{
font: 1em sans-serif;
}

div.content i, div.content em
{
font: italic 1em sans-serif;
}

div.content ins
{
font: 1em sans-serif;
text-decoration: none;
}

div.content kbd
{
font: 1em sans-serif;
}

div.content samp
{
font: 1em sans-serif;
}

div.content small
{
font: 0.8em sans-serif;
}

div.content sub
{
bottom: -0.25em;
font: 0.75%/1 sans-serif;
position: relative;
vertical-align: baseline;
}

div.content sup
{
font: 0.75%/1 sans-serif;
position: relative;
top: -0.5em;
vertical-align: baseline;
}

div.content ol
{
margin: 10px 0 11px 32px;
}

div.content ul
{
margin: 10px 0 11px 20px;
}

div.content li ol
{
margin-bottom: 0;
margin-left: 19px;
margin-top: 4px;
}

div.content li ul
{
margin-bottom: 0;
margin-left: 0;
margin-top: 4px;
}

div.content ol li
{
font: 0.8125em/17px sans-serif;
margin: 0 0 5px 0;
}

div.content ul li
{
font: 0.8125em/17px sans-serif;
list-style: none;
margin: 0 0 5px 0;
padding: 0 0 0 12px;
position: relative;
}

div.content ul li:before
{
color: rgb(0,0,0);
content: '\2022';
font: 19px/17px sans-serif;
left: 0;
position: absolute;
top: 0;
}

div.content li ol li
{
font: 1em sans-serif;
list-style-type: lower-alpha;
}

div.content li ul li
{
font: 1em sans-serif;
}

div.content li ul li:before
{
color: rgb(68,68,68);
}

div.content dl
{
margin: 0 0 8px 0;
}

div.content dd
{
font: 0.8125em/17px sans-serif;
}

div.content dt
{
font: 0.8125em/17px sans-serif;
}

div.content a
{
color: rgb(214,17,38);
}

div.content a:hover
{
text-decoration: none;
}

div.content figure
{
margin: 0 0 11px 0;
}

div.content figure img
{
border-radius: 10px;
display: block;
}

div.content figure figcaption
{
border-bottom: 1px solid rgb(238,238,238);
font: 0.75em/15px RobotoRegular, sans-serif;
padding: 7px 0 8px 0;
}

div.content table
{
border-collapse: collapse;
border-spacing: 0;
margin: 16px 0 15px 0;
}

div.content table caption
{
background: rgb(221,221,221);
font: 0.8125em/16px sans-serif;
margin: 0;
padding: 6px 12px 5px 12px;
}

div.content table thead th
{
background: rgb(221,221,221);
border-color: rgb(221,221,221) rgb(255,255,255) rgb(221,221,221) rgb(255,255,255);
border-style: solid;
border-width: 1px;
font: 0.8125em/16px sans-serif;
padding: 6px 12px 5px 12px;
}

div.content table thead th:first-child
{
border-left-color: rgb(221,221,221);
}

div.content table thead th:last-child
{
border-right-color: rgb(221,221,221);
}

div.content table tfoot td
{
border: 1px solid rgb(221,221,221);
font: 0.8125em/16px sans-serif;
padding: 6px 12px 5px 12px;
vertical-align: top;
}

div.content table tbody th
{
border: 1px solid rgb(221,221,221);
font: 0.8125em/16px sans-serif;
padding: 6px 12px 5px 12px;
vertical-align: top;
}

div.content table tbody td
{
border: 1px solid rgb(221,221,221);
font: 0.8125em/16px sans-serif;
padding: 6px 12px 5px 12px;
vertical-align: top;
}

div.content iframe
{
border: none;
}

div.content object
{
border: none;
}

div.content form fieldset
{
border: none;
margin: 0;
padding: 0;
}

div.content form p
{
font-size: 1em;
}

div.content form label
{
display: inline-block;
font: 0.875em/17px RobotoLight, sans-serif;
padding: 0 0 7px 0;
}

div.content form legend
{
font: 0.875em sans-serif;
}

div.content form input[type='text'], div.content form input[type='password']
{
border: 1px solid rgb(204,204,204);
border-radius: 5px;
-moz-box-sizing: border-box;
box-sizing: border-box;
color: rgb(51,51,51);
font: 0.875em RobotoLight, sans-serif;
padding: 5px 0.625rem 5px 0.625rem;
}

div.content form input[type='radio'] + label, div.content form input[type='checkbox'] + label
{
float: none;
width: auto;
}

div.content form input[type='submit'], div.content form button[type='submit'], div.content form input[type='button'], div.content form button[type='button']
{
background: rgb(214,17,38);
border: none;
border-radius: 10px;
color: rgb(255,255,255);
font: 1.25em/normal RobotoLight, sans-serif;
padding: 10px 65px 12px 65px;
}

div.content form input[type='submit']:hover, div.content form button[type='submit']:hover, div.content form input[type='button']:hover, div.content form button[type='button']:hover
{
background: rgb(102,102,102);
}

div.content form textarea
{
border: 1px solid rgb(204,204,204);
border-radius: 5px;
-moz-box-sizing: border-box;
box-sizing: border-box;
color: rgb(51,51,51);
font: 0.875em RobotoLight, sans-serif;
padding: 5px 0.625rem 5px 0.625rem;
}

div.content form select
{
border: 1px solid rgb(204,204,204);
border-radius: 5px;
-moz-box-sizing: border-box;
box-sizing: border-box;
color: rgb(51,51,51);
font: 0.875em RobotoLight, sans-serif;
padding: 5px 0.625rem 5px 0.625rem;
}

div.content mark
{
}

div.content time
{
font: 1em RobotoLight;
}

div.content:not(.modal)
{
min-width: 60em;
padding: 25px 0 40px 0;
width: 100%;
}

div.homepage div.content[role='main']
{
background: url('../../img/a2/content.png') left bottom repeat-x;
}

div.homepage div.content:not([role='main'])
{
border-bottom: 1px solid rgb(221,221,221);
padding-bottom: 20px;
}

div.page div.content[role='main']
{
border-bottom: 1px solid rgb(221,221,221);
padding-top: 40px;
}

div.content div.columns
{
margin: 0 auto 0 auto;
width: 60em;
}

div.homepage div.content div.columns div.left-column
{
float: left;
width: 33.75em;
}

div.homepage div.content div.columns div.right-column
{
float: right;
width: 22.5em;
}

div.page div.content div.columns > div.left-column
{
float: left;
width: 39.6875em;
}

div.page div.content div.columns > div.right-column
{
float: right;
margin: 5px 0 0 0;
width: 18.4375em;
}


/* bannery */


div.content div.megaboard
{
height: 100px;
margin: 0 auto 0 auto;
overflow: hidden;
width: 960px;
}

div.content div.square
{
height: 295px;
margin: 0 0 20px 0;
overflow: hidden;
width: 295px;
}


/* cesta zanoreni */


div.content div.path
{
margin: 0 0 18px 0;
}

div.content div.path ul
{
margin: 0;
}

div.content div.path li
{
color: rgb(51,51,51);
float: left;
font: 0.8125em/normal RobotoLight, sans-serif;
margin: 0 4px 0 0;
padding: 0 10px 0 0;
}

div.content div.path li:before
{
display: none;
}

div.content div.path li span.ico
{
background: url('../../img/a2/brand-icons-h.png') -494px center no-repeat;
height: 100%;
padding: 1px 0 0 0;
right: 0;
top: 0;
width: 6px;
}

div.content div.path a
{
color: rgb(51,51,51);
display: block;
position: relative;
}

div.content div.path a:hover
{
text-decoration: none;
}


/* menu ve strance */


div.content nav.pagemenu
{
margin: 0 0 20px 0;
}

div.content nav.pagemenu ul
{
margin: 0;
}

div.content nav.pagemenu li
{
font: 0.875em/18px RobotoLight;
margin: 0 0 10px 0;
padding: 0;
overflow: hidden;
text-transform: uppercase;
}

div.content nav.pagemenu li:last-child
{
margin-bottom: 0;
}

div.content nav.pagemenu li:before
{
display: none;
}

div.content nav.pagemenu li a
{
border: 1px solid rgb(204,204,204);
border-radius: 10px;
color: rgb(51,51,51);
display: block;
padding: 9px 0.9375rem 9px 0.9375rem;
text-decoration: none;
}

div.content nav.pagemenu li a:hover, div.content nav.pagemenu li a.active
{
background: rgb(214,17,38);
border: 1px solid rgb(214,17,38);
color: rgb(255,255,255);
}

div.content nav.pagemenu li.has-subitems
{
border: 1px solid rgb(204,204,204);
border-radius: 10px;
}

div.content nav.pagemenu li.has-subitems a
{
border: none;
}

div.content nav.pagemenu li.has-subitems a:hover:not(.active)
{
background: none;
color: rgb(214,17,38);
text-decoration: underline;
}

div.content nav.pagemenu li.has-subitems a.active
{
background: none;
color: rgb(214,17,38);
}

div.content nav.pagemenu li.has-subitems ul
{
margin-bottom: 6px;
margin-top: -3px;
}

div.content nav.pagemenu li.has-subitems li
{
margin-bottom: 0;
}

div.content nav.pagemenu li.has-subitems li a
{
padding: 4px 0 3px 27px;
position: relative;
}

div.content nav.pagemenu li.has-subitems li span.ico
{
background: url('../../img/a2/brand-icons-h.png') -500px center no-repeat;
height: 6px;
left: 16px;
top: 11px;
width: 4px;
}

div.content nav.pagemenu li.has-subitems li a:hover span.ico, div.content nav.pagemenu li.has-subitems li a.active span.ico
{
background: url('../../img/a2/brand-icons-h.png') -504px center no-repeat;
}


/* strankovani */


div.content div.pagination
{
margin: 17px 0 -10px 0;
overflow: hidden;
}

div.content div.pagination ul
{
margin: 0;
}

div.content div.pagination li 
{
float: left;
font: 0.8125em/normal RobotoLight;
margin: 0 8px 8px 0;
padding: 0;
text-align: center;
}

div.content div.pagination li:before
{
display: none;
}

div.content div.pagination a
{
border: 1px solid rgb(204,204,204);
border-radius: 4px;
color: rgb(51,51,51);
display: block;
min-width: 1.3125rem;
padding: 1px 0 2px 0;
text-decoration: none;
}

div.content div.pagination a:hover,
div.content div.pagination a.active
{
background: rgb(214,17,38);
border: 1px solid rgb(214,17,38);
color: rgb(255,255,255);
}


/* box rychly kontakt */


div.content div.quick-contact
{
background: rgb(214,17,38);
border-radius: 10px;
color: rgb(255,255,255);
padding: 10px 1em 7px 1em;
}

div.content div.quick-contact p
{
font: 0.875em/18px RobotoLight;
margin-bottom: 10px;
}

div.content div.quick-contact a
{
color: rgb(255,255,255);
}

div.content div.quick-contact > p:first-child
{
font: 1em/18px RobotoMedium;
margin-bottom: 10px;
}


/* detail clanku, galerie */


div.content div.gallery
{
margin: 0 0 0 -17px;
padding: 20px 0 0 0;
}

div.content div.gallery a.item
{
color: rgb(51,51,51);
display: block;
float: left;
margin: 0 0 17px 17px;
text-decoration: none;
width: 200px;
}

div.content div.gallery a.item:hover
{
color: rgb(214,17,38);
}

div.content div.gallery p
{
margin-bottom: 0;
}

div.content div.gallery img
{
border-radius: 10px;
display: block;
}

div.content div.gallery a:hover img
{
opacity: 0.75;
}

div.content div.gallery p.caption
{
font: 0.75em/15px RobotoLight;
padding: 6px 0 6px 0;
text-align: center;
}


/* detail clanku, prilohy */


div.content div.attachments
{
clear: both;
margin: 2px -1.0625em -25px 0;
}

div.content div.attachments > p:first-child
{
font: 1.0625em/normal RobotoLight;
margin-bottom: 17px;
text-transform: uppercase;
}

div.content div.attachments a.item
{
color: rgb(51,51,51);
float: left;
margin: 0 1.0625em 25px 0;
min-height: 64px;
padding: 0 0 0 60px;
position: relative;
text-decoration: none;
width: 8.75em;
}

div.content div.attachments a.item span.ico
{
background: url('../../img/a2/brand-icons-h.png') -508px center no-repeat;
height: 64px;
left: 0;
top: 0;
width: 50px;
}

div.content div.attachments a.item:hover span.ico
{
background: url('../../img/a2/brand-icons-h.png') -558px center no-repeat;
}

div.content div.attachments a.item span.ico span
{
height: 37px;
overflow: hidden;
position: absolute;
top: 17px;
width: 34px;
}

div.content div.attachments a.item.plaintext span.ico span
{
background: url('../../img/a2/brand-icons-h.png') -743px center no-repeat;
margin: 0 0 0 12px;
width: 24px;
}

div.content div.attachments a.item.document span.ico span
{
background: url('../../img/a2/brand-icons-h.png') -608px center no-repeat;
margin: 0 0 0 12px;
width: 24px;
}

div.content div.attachments a.item.spreadsheet span.ico span
{
background: url('../../img/a2/brand-icons-h.png') -685px center no-repeat;
margin: 0 0 0 12px;
width: 24px;
}

div.content div.attachments a.item.presentation span.ico span
{
background: url('../../img/a2/brand-icons-h.png') -659px center no-repeat;
margin: 0 0 0 11px;
width: 26px;
}

div.content div.attachments a.item.image span.ico span
{
background: url('../../img/a2/brand-icons-h.png') -715px center no-repeat;
margin: 0 0 0 10px;
width: 28px;
}

div.content div.attachments a.item.archive span.ico span
{
background: url('../../img/a2/brand-icons-h.png') -709px center no-repeat;
margin: 0 0 0 21px;
padding: 1px 0 0 0;
width: 6px;
}

div.content div.attachments a.item.pdf span.ico span
{
background: url('../../img/a2/brand-icons-h.png') -632px center no-repeat;
margin: 0 0 0 11px;
padding: 1px 0 0 0;
width: 27px;
}

div.content div.attachments a.item p:first-child
{
font: 0.75em/15px RobotoMedium, sans-serif;
margin: 9px 0 4px 0;
text-decoration: underline;
}

div.content div.attachments a.item:hover p:first-child
{
text-decoration: none;
}

div.content div.attachments a.item p:first-child strong
{
font: 1em RobotoMedium, sans-serif;
}

div.content div.attachments p.type
{
font: 0.75em/15px RobotoRegular, sans-serif;
margin-bottom: 0;
}


/* detail clanku, sdileni */


div.content div.social-sites
{
margin-bottom: 16px;
margin-top: 20px;
}

div.content div.social-sites p
{
color: rgb(68,68,68);
float: left;
font: 0.875em/1 RobotoRegular, sans-serif;
margin: 0 20px 0 0;
padding: 7px 0 0 0;
text-transform: uppercase;
}

div.content div.social-sites div.item
{
float: left;
padding: 4px 10px 0 0;
}


/* detail clanku, formulare */


div.content div.form[class*='-form']:not(.modal-form)
{
background: rgb(248,248,248);
border: 1px solid rgb(204,204,204);
border-radius: 10px;
padding: 29px 1.875em 20px 1.875em;
}

div.content div.form[class*='-form'] > p:first-child
{
color: rgb(214,17,38);
font: 1em/normal RobotoMedium;
margin: 0 0 25px 0;
}

div.content div.form p.message
{
border-radius: 4px;
font: 0.875em/normal RobotoRegular, sans-serif;
margin-bottom: 10px;
padding: 5px 5px 6px 30px;
position: relative;
}

div.content div.form p.message.success
{
background: rgb(4,177,2);
color: rgb(255,255,255);
}

div.content div.form p.message.fault
{
background: rgb(214,17,38);
color: rgb(255,255,255);
}

div.content div.form p.message.success span.ico
{
background: url('../../img/a2/brand-icons-h.png') -767px center no-repeat;
height: 100%;
left: 10px;
top: 0;
width: 12px;
}

div.content div.form p.message.fault span.ico
{
background: url('../../img/a2/brand-icons-h.png') -779px center no-repeat;
height: 100%;
left: 10px;
top: 0;
width: 12px;
}

div.content div.form p.note
{
margin-bottom: 0;
}

div.content div.form fieldset p:not(.note)
{
margin: 0 0 15px 0;
}

div.content div.form mark
{
background: none;
color: rgb(214,17,38);
display: inline-block;
font: 1.4em/17px RobotoMedium, sans-serif;
position: relative;
top: 4px;
}

div.content div.form p.fault *
{
color: rgb(214,17,38);
}

div.content div.form[class*='-form'] input[type='text'], div.content div.form[class*='-form'] input[type='password'], div.content div.form[class*='-form'] textarea
{
width: 100%;
}

div.content div.form[class*='-form'] span.ui-radio
{
background: url('../../img/a2/brand-icons-h.png') -281px center no-repeat;
cursor: pointer;
display: inline-block;
height: 20px;
margin: 0 10px 0 0;
overflow: hidden;
position: relative;
width: 20px;
}

div.content div.form[class*='-form'] span.ui-radio-state-checked
{
background: url('../../img/a2/brand-icons-h.png') -301px center no-repeat;
}

div.content div.form[class*='-form'] span.ui-radio-state-checked-hover
{
background: url('../../img/a2/brand-icons-h.png') -301px center no-repeat;
}

div.content div.form[class*='-form'] span.ui-checkbox
{
background: url('../../img/a2/brand-icons-h.png') -321px center no-repeat;
cursor: pointer;
display: inline-block;
height: 20px;
margin: 0 10px 0 0;
overflow: hidden;
position: relative;
width: 20px;
}

div.content div.form[class*='-form'] span.ui-checkbox-state-checked
{
background: url('../../img/a2/brand-icons-h.png') -341px center no-repeat;
}

div.content div.form[class*='-form'] span.ui-checkbox-state-checked-hover
{
background: url('../../img/a2/brand-icons-h.png') -341px center no-repeat;
}

div.content div.form[class*='-form'] span.ui-helper-hidden
{
display: none;
}

div.content div.form[class*='-form'] .ui-helper-hidden-accessible
{
position: absolute;
left: -999em;
}

div.content div.form[class*='-form'] span.ui-checkbox + label
{
float: none !important;
padding: 0;
position: relative;
top: -3px;
width: auto !important;
}

div.content div.form[class*='-form'] span.ui-radio + label
{
float: none !important;
padding: 0;
position: relative;
top: -5px;
width: auto !important;
}

div.content div.form[class*='-form'] div.newListSelected
{
background: rgb(255,255,255);
border: 1px solid rgb(204,204,204);
border-radius: 5px;
-moz-box-sizing: border-box;
box-sizing: border-box;
color: rgb(153,153,153);
display: block;
font: 0.875em RobotoLight, sans-serif;
padding: 5px 0.625rem 5px 0.625rem;
position: relative !important;
width: 100%;
}

div.content div.form[class*='-form'] div.newListSelected:hover
{
cursor: pointer;
}

div.content div.form[class*='-form'] div.newListSelected div.selectedTxt
{
margin-right: 38px;
}

div.content div.form[class*='-form'] div.newListSelected div.SSContainerDivWrapper
{
background: rgb(255,255,255);
border: 1px solid rgb(204,204,204);
border-radius: 5px;
height: auto !important;
left: -1px !important;
position: absolute;
top: 2em !important;
z-index: 2 !important;
width: 100%;
}

div.content div.form[class*='-form'] div.newListSelected ul.newList
{
height: auto !important;
margin: 0;
}

div.content div.form[class*='-form'] div.newListSelected ul.newList li
{
border-bottom: 1px solid rgb(204,204,204);
font: 1em/17px RobotoLight, sans-serif;
margin-bottom: 0;
padding-left: 0;
}

div.content div.form[class*='-form'] div.newListSelected ul.newList li:last-child
{
border-bottom: none;
}

div.content div.form[class*='-form'] div.newListSelected ul.newList li:before
{
display: none;
}

div.content div.form[class*='-form'] div.newListSelected ul.newList li a
{
color: rgb(51,51,51);
display: block;
padding: 5px 0.625rem 5px 0.625rem;
text-decoration: none;
}

div.content div.form[class*='-form'] div.newListSelected ul.newList li:first-child a
{
color: rgb(187,187,187);
}

div.content div.form[class*='-form'] div.newListSelected ul.newList li a:hover
{
background: rgba(204,204,204,0.1);
color: rgb(0,0,0);
}

div.content div.form[class*='-form'] div.newListSelected div.dropdown
{
height: 28px;
overflow: hidden;
position: absolute;
right: 0;
top: 1px;
width: 37px;
}

div.content div.form[class*='-form'] div.newListSelected div.dropdown span.ico
{
background: url('../../img/a2/brand-icons-h.png') -361px center no-repeat;
height: 100%;
padding: 1px 0 0 0;
right: 12px;
top: 0;
width: 14px;
}

div.content div.form[class*='-form'] div.newListSelected:hover div.dropdown span.ico
{
background: url('../../img/a2/brand-icons-h.png') -375px center no-repeat;
}

div.content div.form[class*='-form'] fieldset.options p
{
float: left;
width: 50%;
}

div.content div.form fieldset.submit button[type='submit']
{
display: inline-block;
margin-right: 30px;
}

div.content div.form fieldset.submit p.note
{
display: inline-block;
font: 0.875em/17px RobotoLight, sans-serif;
margin-bottom: 0;
padding: 0;
}


/* vypis clanku */


div.content div.articles hr
{
height: 19px;
}

div.content div.articles figure
{
float: left;
margin: 0 15px 0 0;
width: 200px;
}

div.content div.articles figure figcaption
{
border-bottom: none;
text-align: center;
}

div.content div.articles figure a:hover img
{
opacity: 0.75;
}

div.content div.articles h2
{
font: 1.1875em/22px RobotoMedium;
margin-bottom: 12px;
margin-top: 5px;
}


/* formular pujcky */


div.content div.form.loan-form
{
background: none !important;
border: none !important;
padding: 0 0 0 1.875em !important;
}

div.content div.right-column div.form.loan-form
{
background: rgb(255,255,255);
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.25) inset;
margin: 2.6em 0 20px 0;
padding: 15px 1.875em 26px 1.875em !important;
}

div.content div.form.loan-form > p:first-child
{
color: rgb(214,17,38);
font: 1.1875em/normal RobotoMedium;
margin-bottom: 15px;
}

div.content div.form.loan-form fieldset.data
{
margin-bottom: 18px;
}

div.content div.form.loan-form fieldset.data p
{
font: 0.875em/28px RobotoRegular;
margin-bottom: 10px;
overflow: hidden;
}

div.content div.form.loan-form fieldset.data label
{
float: left;
font: 1em/17px RobotoLight;
padding: 5px 0 0 0;
width: 5rem;
}

div.content div.form.loan-form fieldset.data input[type='text']
{
float: right;
width: 26.875rem;
}

div.content div.form.loan-form fieldset.loan-type
{
margin: 0 0 20px 0;
}

div.content div.form.loan-form fieldset.loan-type p
{
float: left;
font: 0.9375em/20px RobotoMedium;
margin-bottom: 0;
width: 50%;
}

div.content div.form.loan-form fieldset.loan-type label
{
float: left;
font: 1em/20px RobotoRegular, sans-serif;
padding: 0;
width: auto !important;
}

div.content div.form.loan-form fieldset.loan-type label b
{
font: 1em RobotoRegular, sans-serif;
}

div.content div.form.loan-form fieldset.loan-type small
{
font: 1em RobotoLight;
}

div.content div.form.loan-form fieldset.loan-type p:first-child span.ui-radio
{
top: -15px;
}

div.content div.form.loan-form fieldset.loan-type p:first-child label
{
top: 0;
}

div.content div.form.loan-form fieldset.slider
{
margin: 0 0 16px 0;
position: relative;
}

div.content div.form.loan-form fieldset.slider > p:first-child
{
font: 0.9375em/17px RobotoRegular;
margin-bottom: 8px;
}

div.content div.form.loan-form fieldset.slider > p:first-child small
{
color: rgb(153,153,153);
font: 0.8em RobotoLight;
text-transform: none;
}

div.content div.form.loan-form fieldset.slider div.slider
{
background: rgb(206,16,37);
border-radius: 8px;
height: 17px;
margin: 0 59px 0 59px;
position: relative;
width: 390px;
}

div.content div.form.loan-form fieldset.slider a.decrease
{
color: rgb(51,51,51);
display: inline-block;
font: 1em/17px RobotoRegular;
text-decoration: none;
position: absolute;
left: 0;
bottom: 0;
}

div.content div.form.loan-form fieldset.slider a.increase
{
color: rgb(51,51,51);
display: inline-block;
font: 1em/17px RobotoRegular;
text-decoration: none;
position: absolute;
right: 0;
bottom: 0;
}

div.content div.form.loan-form fieldset.slider a.ui-slider-handle
{
background: rgb(255,255,255);
border: 1px solid rgb(204,204,204);
border-radius: 8px;
box-shadow: 0 0 10px rgba(0,0,0,0.05) inset;
color: rgb(51,51,51);
display: block;
font: 0.625em/15px RobotoMedium;
height: 15px;
margin: 0 0 0 -59px;
position: absolute;
text-align: center;
text-decoration: none;
top: 0;
width: 118px;
z-index: 2;
}

div.content div.form.loan-form fieldset.slider div.slider samp
{
color: rgb(255,255,255);
font: 0.625em/17px RobotoRegular;
position: absolute;
top: 0;
}

div.content div.form.loan-form fieldset.slider div.slider samp:first-child
{
left: 0;
margin: 0 0 0 6px;
}

div.content div.form.loan-form fieldset.slider div.slider samp:last-child
{
right: 0;
margin: 0 6px 0 0;
}

div.content div.form.loan-form fieldset.options
{
margin: 0 0 15px 0;
padding: 10px 0 0 0;
}

div.content div.form.loan-form fieldset.options p > label:first-child
{
padding-bottom: 0;
width: 10.3125rem;
}

div.content div.form.loan-form fieldset.options label:not(:first-child)
{
margin-right: 60px;
top: 0;
}

div.content div.form.loan-form fieldset.options span.ui-radio
{
top: 5px;
}

div.content div.form.loan-form fieldset.options p
{
float: none;
margin-bottom: 6px;
width: auto;
}

div.content div.form.loan-form fieldset.approval p
{
font: 0.875em/17px RobotoLight, sans-serif;
margin-bottom: 0;
}

div.content div.form.loan-form fieldset.approval span.ui-checkbox
{
top: 5px;
}

div.content div.form.loan-form fieldset.approval span.ui-checkbox + label
{
font: 1em RobotoLight, sans-serif;
top: 0;
}

div.content div.form.loan-form fieldset.approval a
{
color: rgb(51,51,51);
}

div.content div.form.loan-form fieldset.submit
{
padding: 23px 0 0 0;
text-align: center;
}

div.content div.form.loan-form button[type='submit']
{
font: 1.5em RobotoLight, sans-serif;
width: 70%;
}

div.content div.form.loan-form fieldset.instalment p.instalment
{
color: rgb(214,17,38);
font: 2.875em/28px RobotoMedium;
margin-bottom: 4px;
text-align: center;
}

div.content div.form.loan-form fieldset.instalment p.instalment label
{
color: rgb(51,51,51);
cursor: auto;
font: 0.52em RobotoRegular;
padding-bottom: 0;
}

div.content div.form.loan-form fieldset.instalment p.instalment input[type='text']
{
background: none;
border: none;
color: rgb(214,17,38);
font: 1em RobotoMedium;
margin-top: -8px;
padding: 0;
text-align: right;
width: 50%;
}

div.content div.form.loan-form fieldset.instalment p.info
{
color: rgb(71,71,71);
font: 0.8125em/17px RobotoLight;
margin-bottom: 0;
text-align: center;
}

div.content div.form.loan-form fieldset.instalment p.info samp
{
font: 1em RobotoLight;
}


/* podminky pujcky */


div.content div.loan-conditions
{
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.25) inset;
padding: 26px 1.875em 18px 1.875em;
}

div.content div.loan-conditions > h2
{
color: rgb(196,38,46);
font: 1.1875em/normal RobotoMedium;
margin-bottom: 9px;
text-align: center;
}

div.content div.loan-conditions > h2:first-line
{
text-transform: uppercase;
}

div.content div.loan-conditions p
{
background: url('../../img/a2/loan-conditions-p.png') center bottom no-repeat;
font: 1em/22px RobotoLight;
margin-bottom: 0;
padding: 10px 0 11px 0;
text-align: center;
}

div.content div.loan-conditions p:last-child
{
background: none;
}


/* slovnik */


div.content div.vocabulary
{
margin: 0 0 10px 0;
overflow: hidden;
}

div.content div.vocabulary > h2
{
color: rgb(214,17,38);
font: 1.1875em/normal RobotoMedium;
margin-bottom: 0;
padding: 0 0 14px 0;
}

div.content div.vocabulary dl
{
border: 1px solid rgb(204,204,204);
border-radius: 10px;
margin-bottom: 0;
padding: 29px 1.875em 10px 1.875em;
width: 25em;
}

div.content div.vocabulary dl:nth-child(odd)
{
float: left;
}

div.content div.vocabulary dl:nth-child(even)
{
float: right;
}

div.content div.vocabulary dt
{
font: 1em/18px RobotoRegular;
margin: 0 0 5px 0;
}

div.content div.vocabulary dd
{
margin: 0 0 15px 0;
}

div.content div.vocabulary dd p
{
font: 1em/18px sans-serif;
margin-bottom: 0;
}



/* PATICKA: credits, site navigace */


footer
{
margin: 0 auto 0 auto;
padding: 0 0 3.25em 0;
width: 60em;
}


/* credits */


footer div.credits
{
float: left;
margin: 16px 0 16px 0;
}

footer p.site-owner
{
color: rgb(68,68,68);
font: 0.875em/18px RobotoLight, sans-serif;
}

footer p.site-owner a
{
color: rgb(68,68,68);
}

footer p.site-owner a:hover
{
text-decoration: none;
}


/* site navigace */


footer div.site-nav
{
float: right;
margin: 17px 0 17px 0;
}

footer div.site-nav li
{
font: 0.65em/1 Tahoma, 'Lucida Grande CE', lucida, sans-serif;
float: left;
list-style: none;
margin: 0 5px 0 0;
}

footer div.site-nav li.home
{
height: 19px;
width: 21px;
}

footer div.site-nav li.sitemap
{
height: 18px;
margin-top: 1px;
width: 23px;
}

footer div.site-nav li.print
{
height: 19px;
width: 23px;
}

footer div.site-nav li.mail
{
height: 19px;
width: 23px;
}

footer div.site-nav li.top
{
height: 19px;
width: 19px;
}

footer div.site-nav a
{
border: 5px solid rgb(255,255,255);
color: rgb(0,0,0);
display: block;
float: left;
overflow: hidden;
position: relative;
text-decoration: none;
}

footer div.site-nav span.ico
{
left: 0;
top: 0;
}

footer div.site-nav li.home a
{
height: 9px;
width: 11px;
}

footer div.site-nav li.home span.ico
{
background: url('../../img/a2/brand-icons-h.png') 0 center no-repeat;
height: 9px;
padding: 1px 0 0 0;
width: 11px;
}

footer div.site-nav li.home a.active span.ico, footer div.site-nav li.home a:hover span.ico
{
background: url('../../img/a2/brand-icons-h.png') -11px center no-repeat;
}

footer div.site-nav li.sitemap a
{
height: 8px;
width: 13px;
}

footer div.site-nav li.sitemap span.ico
{
background: url('../../img/a2/brand-icons-h.png') -22px center no-repeat;
height: 8px;
width: 13px;
}

footer div.site-nav li.sitemap a.active span.ico, footer div.site-nav li.sitemap a:hover span.ico
{
background: url('../../img/a2/brand-icons-h.png') -35px center no-repeat;
}

footer div.site-nav li.print a
{
height: 9px;
width: 13px;
}

footer div.site-nav li.print span.ico
{
background: url('../../img/a2/brand-icons-h.png') -48px center no-repeat;
height: 9px;
padding: 1px 0 0 0;
width: 13px;
}

footer div.site-nav li.print a:hover span.ico
{
background: url('../../img/a2/brand-icons-h.png') -61px center no-repeat;
}

footer div.site-nav li.mail a
{
height: 9px;
width: 13px;
}

footer div.site-nav li.mail span.ico
{
background: url('../../img/a2/brand-icons-h.png') -74px center no-repeat;
height: 9px;
padding: 1px 0 0 0;
width: 13px;
}

footer div.site-nav li.mail a:hover span.ico
{
background: url('../../img/a2/brand-icons-h.png') -87px center no-repeat;
}

footer div.site-nav li.top a
{
height: 9px;
width: 9px;
}

footer div.site-nav li.top span.ico
{
background: url('../../img/a2/brand-icons-h.png') -100px center no-repeat;
height: 9px;
padding: 1px 0 0 0;
width: 9px;
}

footer div.site-nav li.top a:hover span.ico
{
background: url('../../img/a2/brand-icons-h.png') -109px center no-repeat;
}


/* AD PRUH */


div.ad
{
background: rgb(214,17,38);
bottom: 0;
color: rgb(255,255,255);
padding: 16px 0 17px 0;
position: fixed;
text-align: center;
width: 100%;
z-index: 10;
}

div.ad p
{
font: 0.875em/18px RobotoRegular;
text-transform: uppercase;
}

div.ad b
{
font: 1em RobotoMedium;
}

div.ad a
{
color: rgb(255,255,255);
text-transform: none;
}

div.ad a:hover
{
text-decoration: none;
}


/* MODALY */


div.modals
{
display: none;
}

div.content.modal
{
background: rgb(238,238,238);
padding: 15px 20px 20px 20px;
}

div.ui-widget-overlay
{
background: rgba(0,0,0,0.8);
height: 100%;
width: 100%;
position: fixed;
left: 0;
top: 0;
z-index: 101;
}

div.ui-dialog
{
z-index: 102;
}

button.ui-dialog-titlebar-close
{
background: rgb(187,187,187);
border: none;
cursor: pointer;
height: 40px;
margin: 0;
padding: 0;
position: absolute;
right: -40px;
top: 0;
width: 40px;
}

button.ui-dialog-titlebar-close span.ui-icon-closethick
{
background: url('../../img/a2/brand-icons-h.png') -799px center no-repeat;
height: 8px;
left: 16px;
overflow: hidden;
position: absolute;
top: 16px;
width: 8px;
}

button.ui-dialog-titlebar-close:hover
{
background: rgb(255,0,0);
}

button.ui-dialog-titlebar-close:hover span.ui-icon-closethick
{
background: url('../../img/a2/brand-icons-h.png') -791px center no-repeat;
}

span.ui-dialog-title, button.ui-dialog-titlebar-close span.ui-button-text
{
display: none;
}

div.content.modal > p:first-child
{
border-bottom: 1px solid rgb(204,204,204);
font: 0.875em/normal RobotoMedium, serif;
margin-bottom: 20px;
padding-bottom: 5px;
text-transform: uppercase;
}

div.content.modal div.modal-form label
{
color: rgb(0,0,0);
}

div.content.modal div.modal-form input[type='text'], div.content.modal div.modal-form textarea
{
padding-left: 9px;
padding-right: 9px;
width: 460px;
}

div.content div.form.modal-form fieldset.submit button[type='submit']
{
float: right;
}

div.content div.form.modal-form fieldset.submit button[type='submit']
{
margin-right: 0;
padding-bottom: 6px;
padding-top: 6px;
}

div.content div.form.modal-form fieldset.submit p.note
{
margin-top: 11px;
}


/* FANCYBOX */


/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 * 
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('../../img/a2/fancybox.png');
}

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1101;
	outline: none;
	display: none;
}

#fancybox-outer
{
background: none;
height: 100%;
position: relative;
width: 100%;
}

#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close
{
background: rgb(187,187,187);
cursor: pointer;
height: 40px;
margin: 0;
padding: 0;
position: absolute;
right: -40px;
top: 0;
width: 40px;
}

#fancybox-close:hover
{
background: rgb(227,27,34);
}

#fancybox-close span.ico
{
background: url('../../img/a2/brand-icons-h.png') -799px center no-repeat;
height: 8px;
left: 16px;
overflow: hidden;
position: absolute;
top: 16px;
width: 8px;
}

#fancybox-close:hover span.ico
{
background: url('../../img/a2/brand-icons-h.png') -791px center no-repeat;
}

#fancybox-error
{
color: rgb(255,0,0);
font: 12px/20px sans-serif;
padding: 14px;
margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-left, #fancybox-right
{
background: rgb(187,187,187);
bottom: 0;
cursor: pointer;
display: none;
height: 40px;
overflow: hidden;
position: absolute;
width: 40px;
z-index: 1102;
}

#fancybox-left
{
left: -40px;
}

#fancybox-right
{
right: -40px;
}

#fancybox-left:hover, #fancybox-right:hover
{
background: rgb(227,27,34);
}

#fancybox-left-ico, #fancybox-right-ico
{
overflow: hidden;
position: absolute;
z-index: 1102;
}

#fancybox-left-ico
{
background: url('../../img/a2/brand-icons-h.png') -820px center no-repeat;
height: 8px;
left: 16px;
overflow: hidden;
position: absolute;
top: 16px;
width: 7px;
}

#fancybox-left:hover #fancybox-left-ico
{
background: url('../../img/a2/brand-icons-h.png') -827px center no-repeat;
}

#fancybox-right-ico
{
background: url('../../img/a2/brand-icons-h.png') -807px center no-repeat;
height: 8px;
overflow: hidden;
position: absolute;
right: 16px;
top: 16px;
width: 7px;
}

#fancybox-right:hover #fancybox-right-ico
{
background: url('../../img/a2/brand-icons-h.png') -814px center no-repeat;
}

.fancybox-bg
{
display: none;
}

#fancybox-title
{
z-index: 1102;
}

.fancybox-title-inside
{
background: rgb(255,255,255);
color: rgb(0,0,0);
font: 13px/18px RobotoRegular, sans-serif;
margin: 0 !important;
padding: 0 20px 16px 20px;
}

.fancybox-title-inside samp
{
color: rgb(1,35,122);
font: 13px RobotoRegular, sans-serif;
}

.fancybox-title-outside
{
}

.fancybox-title-over
{
bottom: 0;
left: 0;
position: absolute;
}

#fancybox-title-over
{
display: block;
}

.fancybox-title-float
{
bottom: -20px;
left: 0;
position: absolute;
}

#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}

#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}

#fancybox-title-float-left
{
}

#fancybox-title-float-main
{
}

#fancybox-title-float-right
{
}
