@media (min-width: 1200px) {
	
}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}

/* mobile */
@media (max-width: 767px) {

	body {
		min-width: 320px;
	}

	/* reset */
	div.content:not(.modal),
	header,
	header div.main,
	header div.main div.data,
	header div.logo h1,
	header div.logo p,
	header > div.container,
	div.content div.columns,
	div.homepage div.content div.columns div.left-column,
	footer {
		width: auto;
		min-width: inherit;
		max-width: inherit;
		float: none;
	}
	div.ad {
		position: relative;
		padding: 20px;
		width: auto;
	}
	div.content iframe {
		max-width: 100%;
	}

	/* header */
	header {
		position: relative;
		z-index: 99;
	}
	header div.logo {
		position: relative;
		text-align: center;
		padding: 0 0 20px;
		margin: 0 0 1px;
		background: #fff;
	}
	header div.logo h1, header div.logo p {
		padding: 0;
	}
	header div.main {
		min-height: inherit;
	}
	header div.main div.item {
		height: inherit;
	}
	header div.main div.figure {
		display: none;
	}
	header div.main div.data {
		margin-top: 0;
		height: inherit;
		text-align: center;
	}
	header div.main div.data div {
		position: static;
		max-height: inherit;
		padding: 30px 0 40px;
		width: inherit;
	}
	header nav.mainmenu {
		position: relative;
		float: none;
		padding: 0 20px;
	}
	header nav.mainmenu:before,
	header nav.mainmenu:after {
	    content: '';
	    display: table;
	}
	header nav.mainmenu:after {
	    clear: both;
	}

	header nav.mainmenu .menu_toggle {
		display: block;
		position: relative;
		padding-left: 50px;
		float: left;
	}
	header nav.mainmenu .menu_toggle:before,header nav.mainmenu .menu_toggle:after {
		position: absolute;
		content: '';
		left: 15px;
		top: 50%;
		height: 10px;
		width: 20px;
		margin: -8px 0 0;
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
	}
	header nav.mainmenu .menu_toggle:after {
		margin: -2px 0 0;
		border-bottom: none;
	}
	header nav.mainmenu > ol {
		display: none;
		padding: 10px 20px;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: rgb(214,17,38);
	}
	header nav.mainmenu.on > ol {
		display: block;
	}
	header nav.mainmenu li {
		float: none;
		margin: 0 0 10px;
	}
	header nav.mainmenu a {
		border-radius: 0;
		margin: 0 0 10px;
		padding: 10px;
	}
	header nav.mainmenu a:hover, header nav.mainmenu a.active, header nav.mainmenu li.has-subitems:hover > a {
		border: 1px solid rgba(255,255,255,0.4);
	}
	header nav.mainmenu li.has-subitems ul {
		border: 0;
		display: block;
		margin: 0 0 0 20px;
		position: relative;
		width: inherit;
	}
	header nav.mainmenu li.has-subitems li {
		border: none;
	}
	header nav.mainmenu li.has-subitems li:first-child:before {
		display: none;
	}
	header nav.mainmenu li.has-subitems li a {
		padding: 10px;
		border: 1px solid rgba(255,255,255,0.4);
	}
	header nav.mainmenu li.has-subitems li a:hover {
		font: 1em/normal RobotoRegular;
	}
	header div.searchform {
		padding: 0 20px 20px;
		margin: -50px 0 0;
	}
	header div.searchform fieldset {
		position: relative;
		border-radius: 0;
		padding: 0;
	}
	header div.searchform input[type='text'] {
		width: 100%;
		padding: 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	header div.searchform button[type='submit'] {
		position: absolute;
		top: 50%;
		right: 10px;
		margin: -10px 0 0;
	}



	div.content div.columns {
		padding: 0 20px;
	}
	div.content div.columns div.columns {
		padding: 0;
	}
	div.homepage div.content div.columns div.left-column {
		float: none;
		width: auto;
	}
	div.homepage div.content div.columns div.right-column {
		float: none;
		width: auto;
	}
	div.page div.content div.columns > div.left-column {
		float: none;
		width: auto;
	}
	div.page div.content div.columns > div.right-column {
		float: none;
		width: auto;
	}



	div.content div.form.loan-form {
		padding: 0!important;
	}
	div.content div.form.loan-form fieldset.data label {
		float: none;
		width: inherit;
	}
	div.content div.form.loan-form fieldset.data input[type='text'] {
		float: none;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	div.content div.form.loan-form fieldset.loan-type p {
		float: none;
		width: inherit;
		margin: 0 0 20px;
	}
	div.content div.form.loan-form fieldset.slider div.slider {
		height: 30px;
		width: auto;
	}
	div.content div.form.loan-form fieldset.slider div.slider samp {
		line-height: 30px;
	}
	div.content div.form.loan-form fieldset.slider a.ui-slider-handle {
		height: 28px;
		line-height: 28px;
	}
	div.content div.form.loan-form fieldset.options p {
		margin: 0 0 20px;
	}
	div.content div.form.loan-form fieldset.options p > label:first-child {
		width: 100%;
		float: none;
		font-weight: bold;
	}
	div.content div.form.loan-form button[type='submit'] {
		width: 100%;
	}
	div.content div.form fieldset.submit button[type='submit'] {
		margin: 0;
	}


	div.content div.vocabulary dl {
		margin-bottom: 20px;
		width: auto;
	}
	div.content div.vocabulary dl:nth-child(even), div.content div.vocabulary dl:nth-child(odd) {
		float: none;
	}

	div.content div.form[class*='-form'] fieldset.options p {
		width: auto;
		float: none;
	}


	
	footer {
		padding: 0 20px;
	}
	footer div.site-nav {
		display: none;
	}


}