div.content div.testimonials h2 {font: 1.1875em/normal RobotoMedium; margin-bottom: 23px;}
div.content div.testimonials > p:first-child {margin-bottom: 6px;}
div.content div.testimonials div.item blockquote p {font: 1.000em/18px RobotoRegular !important; margin: 0; padding: 0;}

div.content.modal {background: rgb(255,255,255);}

div.content div.columns div.advertisement.megaboard {margin: 0 0 15px 0;}
div.content div.columns div.right-column div.advertisement.narrow {margin: 0 0 30px 22px;}

div.content div.columns div.left-column div.faq h2 {color: rgb(214,17,38); padding: 10px 0; border-bottom: 1px solid rgb(238, 238, 238); cursor: pointer; margin-bottom: 0;}
div.content div.columns div.left-column div.faq div.answer {display: none; padding: 10px; background: rgb(238, 238, 238); border-radius: 0 0 10px 10px;}

/* contact */
div.content blockquote::before {content: none !important;}
div.content blockquote::after {content: none !important;}
div.content blockquote {font: 1.0em/20px RobotoLight, sans-serif; padding: 11px 15px 11px 15px; text-align: center;}

/* right side */
div.content div.quick-contact > p:first-child {font: 1em/22px RobotoLight; margin-top: 10px;}