/* WWW.???.CZ, MEDIA SCREEN ie8 */


article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary
{
display: block;
}

audio, canvas, video
{
display: inline-block;
}

[hidden]
{
display: none;
}

form textarea
{
overflow: auto;
}

header nav.mainmenu a
{
border: 1px solid rgb(230,112,125);
padding: 4px 10px 5px;
}

div.content div.loan-conditions, div.content div.right-column div.form.loan-form
{
border: 1px solid #CCCCCC;
}

div.content form input[type="text"], div.content form input[type="password"], div.content div.form[class*="-form"] div.newListSelected, div.content form textarea
{
padding: 5px 10px;
}

div.content div.form.loan-form fieldset.data label
{
width: 80px;
}

div.content div.form.loan-form fieldset.data input[type="text"]
{
width: 430px;
}

div.content div.form.loan-form fieldset.options p > label:first-child
{
width: 165px;
}

div.content nav.pagemenu li a
{
padding: 9px 15px;
}

div.content div.pagination a
{
min-width: 21px;
}

div.content div.form[class*="-form"] div.newListSelected ul.newList li a
{
padding: 5px 10px;
}

header nav.mainmenu a, header div.searchform fieldset,
div.content div.vocabulary dl, div.content div.loan-conditions, div.content div.right-column div.form.loan-form, div.content div.form p.message, div.content form input[type="text"], div.content form input[type="password"], div.content div.form.loan-form fieldset.slider div.slider, div.content form input[type="submit"], div.content form button[type="submit"], div.content form input[type="button"], div.content form button[type="button"], div.content nav.pagemenu li a, div.content nav.pagemenu li.has-subitems, div.content div.quick-contact, div.content div.pagination a, div.content figure img, div.content blockquote, div.content div.form[class*="-form"]:not(.modal-form), div.content div.form[class*="-form"] div.newListSelected, div.content form textarea, div.content div.gallery img
{
behavior: url('PIE.htc');
position: relative;
}

div.content div.form.loan-form fieldset.slider a.ui-slider-handle, div.content div.form[class*="-form"] div.newListSelected div.SSContainerDivWrapper
{
behavior: url('PIE.htc');
}

div.content div.form.loan-form fieldset.slider div.slider samp
{
display: none;
}
