/* WWW.???.CZ, MEDIA SCREEN ie9 */


article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary
{
display: block;
}

audio, canvas, video
{
display: inline-block;
}

[hidden]
{
display: none;
}

svg:not(:root) {
overflow: hidden;
}

form textarea
{
overflow: auto;
}
